/*
COLOR HEX CODES:
#9EC0FF purple
#90C6E8
#ABF5FF lightblue
#90E8DA
#9EFFD4 green
*/

* {
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
}

body {
  background-color: #ABF5FF;
  text-align: center;
  line-height: 1.25em;
}

.pageWrapper {
  margin: 0 auto;
  width: 100%;
  padding-top:75px;
}

h1 {
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 1px black;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  margin: 30px 0px 30px 0px;
}

.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20%;
  height: 25%;
  max-height: 30%;
  margin-bottom: 50px;
}

.nav {
  padding-top: 225px;
}

.nav li {
  display: inline-block;
  background-color: #9EC0FF;
  border: 1px solid blue;
  box-shadow: 0px 3px 5px black;
  width: 100%;
}

.nav li a {
  font-size: 14px;

}

.nav li:hover {
  background-color: #90C6E8;
}

.websec {
  background-color: lightblue;
  border: 5px solid black;
  border-radius: 5%;
  padding: 20px 0px 20px 0px;
  margin: 10px 1px 10px 1px;
  width: 100%;
  box-shadow: 1px 1px 5px black;
}

.websec li {
  list-style: none;
}

.sectionsWrapper, .pageWrapper {
  width: 100%;
  height: auto;
  display: inline-block;
}

.resumePaper {
  background-color: white;
  box-shadow: inset 0px 0px 10px black;
  width: 90%;
  padding: 50px 0px 100px 0px;
  border: 20px inset white;
}

#contactMe,
#contactForm {
  min-height: 250px;
}

/*-------TABLET-------*/

@media screen and (min-width: 426px){
  .nav li {
    padding:0px;
    margin:0px;
    width: 32%;
  }

  .websec {
    min-height: 145px;
    display: inline-block;
    width: 45%;
    float: left;
  }

  .sectionsWrapper, .pageWrapper {
    padding-left: 3%;
  }

  /*HOME*/

  /*BIOGRAPHY*/

.earlyChildhood,
.education{
  min-height: 200px;

}

.hobbies,
.lifeGoals{
  min-height: 200px;
}

/*CODEPEN*/

.w1,
.w2,
.w3{
  min-height: 350px;
}

.w4,
.w5{
  min-height: 350px;
}

/*RESUME*/


/*GALLERY*/

/*CONTACT*/

}



/*-------DESKTOP-------*/

@media screen and (min-width: 1023px) {
  .nav li{
    width: 15%;
  }

  /*HOME*/

  .columns {
    width: 32%;
    float: left;
    overflow:auto;
  }

  .websec {
    width: 97%;
  }

  #contactMe,
  #contactForm {
    display: inline-block;
    width: 45%;
    float: left;
  }

  /*BIOGRAPHY*/

  .earlyChildhood,
  .education{
  width: 47%;
  float: left;
  height: 35%;

  }

  .hobbies,
  .lifeGoals{
  width: 47%;
  float: left;
  height: 35%;
  }

  /*RESUME*/
  /*CODEPEN*/

  .w1,
  .w2,
  .w3{
    width: 48%;
    float: left;
    min-height: 350px;
  }

  .w4,
  .w5{
    width: 48%;
    float: left;
    min-height: 350px;
  }

  /*GALLERY*/
  /*CONTACT*/

}

.w1,
.w2,
.w3,
.w4,
.w5 {
  min-height: 375px;
}

.websec a{
  text-decoration: none;
  color: inherit;
}

.w1:hover,
.w2:hover,
.w3:hover,
.w4:hover,
.w5:hover {
  background-image:url("../img/codepenlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: white;
  background-color: grey;
}

figure img {
  max-width: 80%;
  min-height: 350px;
}

figure img:hover {
  min-width: 100%;
}

figcaption {
  font-size: 2em;
  margin: 30px 0px 30px 0px;
}

footer {
  margin-top: 100px;
  background-color: grey;
  font-size: .75em;
  clear:both;
}
